<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--매퍼 파일에서 패키지 이름을 입력하지 않아도 클래스를 사용할 수 있도록 패키지 이름을 등록하는 설정 -->
	<typeAliases>
		<package name="com.cspi.project.domain" />
	</typeAliases>


</configuration>